{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block page_title %}
    {{tag.caption}}
{% endblock %}

{% block content %}
    <h1>Llista de tots els posts amb <b><u>{{tag.caption}}</u></b></h1>
    <div class="posts-grid">
        {% for post in posts_tag %}
            {% include "blog/includes/post.html" with info=post %}
        {% empty %}
            <p>No hi ha posts</p>
        {% endfor %}
    </div>
{% endblock %}